.champion-container {
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 550px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 15px;
}

.champion-box, .result-champ-box, .result-main-box {
    height: 280px;
    text-align: center;
}

.result-main-box {
    height: 180px;
    text-align: center;
}

.champion-box:hover img, .champion-box.selected img {
    border: 10px solid #f44e42;
}

.champion-box .title, .result-champ-box .title, .result-main-box .title {
    padding: 10px;
    font-size: 16px;
}

.champion-box img, .result-champ-box img, .result-main-box img{
    margin: 0 auto;
    border: 10px solid transparent;
    transition: all .3s ease-in-out;
}

.comp-submit {
    margin-top: 15px;
}

.result-comp-row {
    padding-bottom: 15px;
}

.result-comp-row + .result-comp-row {
    padding-top: 15px;
    border-top: 3px solid #ddd;
}

.win-rate-box {
    padding-top: 15px;
    width: 100%;
    text-align: center;
    clear: both;
}

.win-rate-box p {
    font-size: 22px;
}

.win-rate-box .rate-label {
    font-size: 26px;
}

.win-rate-box .rate-label.bg-green {
    color: green;
}

.win-rate-box .rate-label.bg-red {
    color: red;
}
